header{

    background-color: rgb(255, 144, 18) ;
    text-align: center;
    border-radius: 5px;
}

body{
    background: rgb(246, 182, 110);
}
#image1{
    width: 650px;
    height: 500px;
}
.p1{
    margin-top: auto;
}
