header{
<<<<<<< HEAD
    background-color:rgba(243, 210, 201, 0.744) ;
}

body{
    background: ;
=======

    background-color: rgb(255, 144, 18) ;
    text-align: center;
    border-radius: 5px;
}

body{
    background: rgb(246, 182, 110);
}
#image1{
    width: 650px;
    height: 500px;
}
.p1{
    margin-top: auto;
>>>>>>> bbfc1a3df0464379da2f299a3476264d74cf7b2d
}
.image5{
    width: 400px;
    height: 650px;
}